@page
@model Designator.IndexModel
@{
    ViewData["Title"] = "Index";
}

@section styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
}

<h1>Index</h1>

<table id="designatorTable">
</table>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/js/designator/designator.js"></script>
}