@page "/CommentTypes/Tab"
<h3>TMMA Log</h3>
<Radzen.Blazor.RadzenTabs>
    <Tabs>
        <Radzen.Blazor.RadzenTabsItem Text="TMMA MDC Log">
            <Radzen.Blazor.RadzenImage Path="https://localhost:44324/images/Log2.png"
                                       Style="height: 600px; width: 900px"></Radzen.Blazor.RadzenImage>



            
        </Radzen.Blazor.RadzenTabsItem>
        <Radzen.Blazor.RadzenTabsItem Text="Log Comments">
           
        </Radzen.Blazor.RadzenTabsItem>

    </Tabs>
</Radzen.Blazor.RadzenTabs>
@code {

}
