@model MDCLogArchitecture.Models.DomainModels.PriorityCode


    <tr>
        <td>
            @Model.Priority
        </td>
        <td>
            @Model.Descr
        </td>

        <td>
            <a asp-page="/Priority/EditPriorityCode" asp-route-Priority="@Model.Priority" asp- class="btn btn-primary">Details</a>
        </td>
    </tr>