@page
@model MDCLogArchitecture.RazorPages.Pages.CreateLogHandlerModel
@{
    ViewData["Title"] = "CreateLogHandler";

}
<h1>Create Log Handler</h1>
<form method="post">
    @Html.EditorFor(m => m.ThisLogHandler)

    <hr />
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="/LogHandlers/LogHandlerIndex" class="btn btn-danger">Cancel Add</a>
</form>