@page "/LogHandlers/LogHandlerIndex"
@model MDCLogArchitecture.RazorPages.Pages.LogHandlers.LogHandlerIndexModel
@{
    ViewData["Title"] = "LogHandlerIndex";
}

<h1>Log Handler</h1>

<a asp-page="/LogHandlers/CreateLogHandler" class="btn btn-success">Add New Log Handler</a>

<table class="table">
    <thead>
        <tr>
            <th>
                USERSEQNUM
            </th>
            <th>
                CODE
            </th>
            <th>
                TMMA
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(model => model.LogHandler);
    </tbody>
</table>