@model MDCLogArchitecture.Models.DomainModels.LogComments
    
    <tr>
        <td>
            @Model.SeqNum
        </td>
        <td>
            @Model.LogNumber
        </td>
        <td>
            @Model.Type
        </td>
        <td>
            @Model.Comment
        </td>
        
    </tr>