@model MDCLogArchitecture.Models.DomainModels.CommentType
<tr>
    <td>
        @Model.Type
    </td>
    <td>
        @Model.TypeDesc
    </td>

    <td>
        @*<a asp-page="/Comments/CommentTypes/EditCommentTypes" asp-route-Type="@Model.Type" asp- class="btn btn-primary">Details</a>*@
    </td>
</tr>
