@page
@model MDCLogArchitecture.RazorPages.Pages.Comments.CreateCommentModel
@{
    ViewData["Title"] = "Create Comment";
}

<h1>Create Comment</h1>
<form method="post">
    @Html.EditorFor(m => m.ThisComment)

    <hr />
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="/Comments/index" class="btn btn-danger">Cancel Add</a>
</form>
