@page "/Comments/Index"
@model MDCLogArchitecture.RazorPages.Pages.Comments.IndexModel
@{
    ViewData["Title"] = "index";
    Layout = "_DataTableLayout";}

<h1>Log Comments</h1>
<a asp-page="/Comments/CreateComment" class="btn btn-success">Add New Comment</a>
<table class="table table-sm display" id="example" style="width:100%">
    <thead>
        <tr>
            <th>
                Seq Num
            </th>
            <th>
                Log Number
            </th>
            <th>
                Basic Number
            </th>
            <th>
                Type Desc
            </th>
            <th>
                Created By
            </th>
            <th>
                Comment
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(model => model.LogComments)
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script>
    
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

