@page "/Comments/Index"
@model MDCLogArchitecture.RazorPages.Pages.Comments.IndexModel
@{
    ViewData["Title"] = "index";
    Layout = "_DataTableLayout";}

<h1>Log Comments</h1>
<a asp-page="/Comments/CreateComment" class="btn btn-success">Add New Comment</a>
<table class="table table-sm display" id="example" style="width:100%">
    <thead>
        <tr>
            <th>
                Seq Num
            </th>
            <th>
                Log Number
            </th>
            <th>
                Basic Number
            </th>
            <th>
                Type Desc
            </th>
            <th>
                Created By
            </th>
            <th>
                Comment
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(model => model.LogComments)
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script>
    
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
@*@section Scripts {

    <script>
        Alert("Hello");

    $(document).ready(function () {

        //$('#example').DataTable();
        //----------------------------------------------
        //note that this is the old yadcf API for init the filters
        //new init function should be used when working with new Datatable (capital "D" API)
        //for new init function see: http://yadcf-showcase.appspot.com/DOM_Ajax_Multiple_1.10.html
        //----------------------------------------------

         $('#example').DataTable({
            stateSave: true,
            responsive: true

         });
        </script>
    }*@

