@page 
@model MDCLogArchitecture.RazorPages.Pages.Priority.CreatePriorityCodeModel
@{
    ViewData["Title"] = "CreatePriorityCode";
}

<h1>Create Priority Code</h1>
<form method="post">
    @Html.EditorFor(m => m.ThisPriorityCode)

    <hr />
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="/Priority/PriorityCodeIndex" class="btn btn-danger">Cancel Add</a>
</form>