@page
@model MDCLogArchitecture.RazorPages.Pages.Priority.EditPriorityCodeModel
@{
    ViewData["Title"] = "EditPriorityCodes";
}

<h1>EditPriorityCodes</h1>
<form method="post">
    @Html.EditorFor(m => m.ThisPriorityCode)

    <hr />
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="/Priority/PriorityCodeIndex" class="btn btn-primary">Back to List</a>
</form>
