@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="card-deck">
        <a asp-page="/Catalog/Index" class="text-decoration-none">
            <div class="card btn-outline-secondary">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Equipment Catalog</h3>
                    </div>
                    <div class="card-text">
                        Blah Blah Blah
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn btn-light">Browse Catalog</div>
                </div>
            </div>
        </a>

        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>TBD</h3>
                </div>
                <div class="card-text">

                </div>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-outline-secondary">TODO</a>
            </div>
        </div>
    </div>
</div>
