@model MDCLogArchitecture.Models.DomainModels.LogHandler
<tr>
    <td>
        @Model.UserSeqNum
    </td>
    <td>
        @Model.Code
    </td>
    <td>
        @Model.Tmma
    </td>

    <td>
        <a asp-page="/LogHandlers/EditLogHandler" asp-route-UserSeqNum="@Model.UserSeqNum" asp- class="btn btn-primary">Edit</a>
    </td>
</tr>
