@page "/Users/UserIdList"
@using MdcLog.Application;
@using MdcLog.Domain;
@using MdcLog.Domain.Entities;
@using MdcLog.Application.Users.Models;
@using MdcLog.Application.Users;

<h3>Users</h3>

    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="8"
                AllowSorting="true" Data="@_types" TItem="UserIdView"
                Style="margin-bottom: 20px; width:600px;">
        <Columns>
            <RadzenGridColumn TItem="UserIdView" Property="UserSeqNum" Title="Seq Num" />
            <RadzenGridColumn TItem="UserIdView" Property="AdFullName" Title="Name" />
            <RadzenGridColumn TItem="UserIdView" Property="Owner" Title="Owner" />
            <RadzenGridColumn TItem="UserIdView" Property="UserIdCode" Title="UserId" />

        </Columns>
    </RadzenGrid>

    @code {
        [Inject]
        private UserIdService service { get; set; }

        private List<UserIdView> _types { get; set; }

        protected override void OnInitialized()
        {

            base.OnInitialized();

            _types = service.FindUserIdList().ToList();

        }



    }
