@page
@model SimpleArchitecture.RazorPages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Current User List</h1>

<a asp-page="/Users/Create" class="btn btn-success">Add New User</a>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Full Name
            </th>
            <th>
                Owner
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(model => model.Users)
    </tbody>
</table>