@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
    <div class="text-center">
        <h2 class="display-2">            
            .Net Core Test Application
        </h2>
        <p>
            Uses the MDCLog Architecture Services, Models, and Repositories with Razor Pages.
        </p>

        <div class="card-deck">
            <div class="card">

                <div class="card-body">
                    <h2 class="card-title">Comments</h2>
                    <p class="card-text">
                        Log Comments
                    </p>
                </div>
                <div class="card-footer">
                    <a asp-page="/Comments/index" class="btn btn-secondary">Comments for log 100 ></a>
                </div>
                <div class="card-footer">
                    <a asp-page="/Comments/CreateComment" class="btn btn-secondary">Create Comment ></a>
                </div>
                <div class="card-footer">
                    <a asp-page="/Comments/CommentTypes/CommentTypesIndex" class="btn btn-secondary">Comment Types ></a>
                </div>
                <div class="card-footer">
                    <a asp-page="/Priority/PriorityCodeIndex" class="btn btn-secondary">Priority Codes ></a>
                </div>
                <div class="card-footer">
                    <a asp-page="/Comments/CommentTypes/CreateCommentType" class="btn btn-secondary">Create Comment></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Future Stuff</h2>
                    <p class="card-text">
                        To be accomplished
                        <div class="card-footer">
                            <a asp-page="/LogHandlers/LogHandlerIndex" class="btn btn-secondary">Log Handlers></a>
                        </div>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-secondary">Go >></a>
                </div>
            </div>
        </div>
    </div>
